logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.*
!.travis.yml
.cache
db
dist
.DS_Store
**/*.DS_Store
eclipse
*.eml
.history
.idea
*.iml
lib
lib_managed
log
modules
/out
precompiled
project/project
project/target
server.pid
.target
test-result
tmp
.idea_modules
bin
.bsp